.menu-principal {
    width: 100%;
    height: 4vw;
    background-color: #009933;
    font-family: 'Abel', sans-serif;
}

.logo {
    margin-left: 15%;
    float: left;
    margin-top: 0.7vw;
}

body {
    margin: 0px;
}

.redes-sociais ul li {
    margin-left: 1.7vw;
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: 1vw;
}

.redes-sociais {
    margin-right: 15%;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 1vw;
    height: 3vw;
}

.menu {
    font-family: 'Abel', sans-serif;
}

.menu-2 {
    height: 4.7vw;
    border-bottom: 3px solid #f0f0f0;   
    padding: 1vw;
}

.header-2 {
    text-align:center;
}

.menu ul li a {
    display: inline-block;
    color: #8080ff;
    text-decoration: none;
    font-size: 1.65vw;
    text-transform: uppercase;
}

.menu ul li:hover {
    border-bottom: 3px solid #FF6600;
    font-family: Abel;
}

.menu ul li a:hover {
    color: #FF6600;
    font-family: Abel;
}

.menu-principal ul {
    margin: 0px;
}

.borda {
    border: 3px solid #009933;
    width: 50%;
    margin-left: 23vw;
    padding: 3vw;
}

.borda p {
    text-align: center;
    font-size: 2vw;
    font-family: 'Abel', sans-serif;
}

.bot {
    text-align: center;
    font-size: 2vw;
    font-family: 'Abel', sans-serif;
}

.result-edit-2 {
    color: #FF6600;
    font-weight: bold;
    font-size: 2vw;
    font-family: 'Abel', sans-serif;
}

.documentarios {
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 5vw;
    font-family: 'Abel', sans-serif;
}

.imgs img{
    float: left;
    width: 15vw;
   

}
.imgs {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: 16vw;
    margin-top: 5vw;
}

.textos {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-top: 3vw;
    font-family: 'Abel', sans-serif;
}

.textos-2 {
    width: 30%;
    text-align: justify;
    text-indent: 2em;
}


