.menu-principal {
    width: 100%;
    height: 60px;
    background-color: #009933;
}

.logo {
    width: 250px;
    height: 40px;
    margin-left: 15%;
    float: left;
    margin-top: 10px;
}

body {
    margin: 0px;
}

.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: 15px;
}

.redes-sociais {
    margin-right: 15%;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu {
    margin-left: 20%;
}

.menu-2 {
    height: 80px;
    border-bottom: 3px solid #f0f0f0;
    padding: 16px;
}

.menu ul li a {
    display: inline-block;
    color: #24a81f;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu ul li:hover {
    border-bottom: 3px solid rgb(228, 198, 63);
    font-family: Arial;
}

.menu ul li a:hover {
    color: rgb(228, 198, 63);
    font-family: Arial;
}

.menu-principal ul {
    margin: 0px;
}


.ui {
    position: absolute;
    width: 216px;
    height: 211px;
    left: 800px;
    top: 500px;
    margin: 500px;
}


.texto {
    position: absolute;
    width: 1260px;
    height: 252px;
    left: 90px;
    top: 2000px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 51px;
    text-align: justify;
    color: #000000;
}


.fotodev1{
    width:400px;
}


.img1 {
    position: absolute;
    width: 169px;
    height: 169px;
    left: 275px;
    top: 500px;
}

.kaya {
    position: absolute;
    width: 232px;
    height: 50px;
    left: 476px;
    top: 1142px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.img2 {
    position: absolute;
    width: 143.01px;
    height: 167.45px;
    left: 806px;
    top: 5000px;
}

.samy {
    position: absolute;
    width: 208px;
    height: 50px;
    left: 983px;
    top: 1130px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}

.img3 {
    position: absolute;
    width: 180px;
    height: 164px;
    left: 270px;
    top: 1324px;
}

.flávio {
    position: absolute;
    width: 93px;
    height: 46px;
    left: 476px;
    top: 1383px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.img4 {
    position: absolute;
    width: 162px;
    height: 181px;
    left: 783px;
    top: 1318px;
}

.robert {
    position: absolute;
    width: 110px;
    height: 46px;
    left: 995px;
    top: 1393px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.img5 {
    position: absolute;
    width: 154px;
    height: 172px;
    left: 284px;
    top: 800px;
}

.jackson {
    position: absolute;
    width: 129px;
    height: 46px;
    left: 471px;
    top: 1636px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.img6 {
    position: absolute;
    width: 185px;
    height: 166px;
    left: 768px;
    top: 1588px;
}

.pedro {
    position: absolute;
    width: 95px;
    height: 46px;
    left: 985px;
    top: 1659px;
    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.meme {
    position: absolute;
    width: 722px;
    height: 389px;
    left: 311px;
    top: 1882px;
}