.menu-principal {
    width: 100%;
    height: 4vw;
    background-color: #009933;
    font-family: 'Abel', sans-serif;
}

.logo {
    margin-left: 15%;
    float: left;
    margin-top: 0.7vw;
}

body {
    margin: 0px;
}

.redes-sociais ul li {
    margin-left: 1.7vw;
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: 1vw;
}

.redes-sociais {
    margin-right: 15%;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 1vw;
    height: 3vw;
}

.menu {
    font-family: 'Abel', sans-serif;
}

.menu-2 {
    height: 4.7vw;
    border-bottom: 3px solid #f0f0f0;   
    padding: 1vw;
}

.header-2 {
    text-align:center;
}

.menu ul li a {
    display: inline-block;
    color: #8080ff;
    text-decoration: none;
    font-size: 1.65vw;
    text-transform: uppercase;
}

.menu ul li:hover {
    border-bottom: 3px solid #FF6600;
    font-family: Abel;
}

.menu ul li a:hover {
    color: #FF6600;
    font-family: Abel;
}

.menu-principal ul {
    margin: 0px;
}

.bloco-1 {
    width: 100%;
    height: 15%;
}

.img-1 img{
    width: 35vw;
    height: 25vw;
    margin-left: 3vw;
}

.img-1 {
    width: 40%;
    float: left;
}

.parte-1 {
    width: 57%;
    float: right;
    height: 25vw;
    margin-right: 1.5vw;
    margin-top: 4vw;
    
}

.parte-1 h1 {
    font-size: 2.5vw;
    color: #FF6600;
    font-family: 'Abel', sans-serif;
}

.parte-1 p {
    font-size: 2vw;
    text-align: justify;
    text-indent: 2em;
    font-family: 'Abel', sans-serif;
}

.artigo {
    font-size: 2.5vw;
    text-align: center;
    width: 100%;
    height: 10%;
    float: left;
    color: #0C82A7;
    margin-top: 2vw;
    font-family: 'Abel', sans-serif;
}

.titulo-2 h1{
    color: #FF6600;
    font-size: 2.5vw;
    float: left;
    margin-left: 12vw;
    width: 100%;
    margin-top: 5vw;
    font-family: 'Abel', sans-serif;
}

.pack-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 70%;
    margin-left: 15vw;
    
}

.pack-1 img {
    width: 20vw;
    height: 15vw;
}

.Texto-1 {
    font-size: 2vw;
    text-align: justify;
    margin-left: 12vw;
    margin-right: 12vw;
    text-indent: 2em;
    font-family: 'Abel', sans-serif;
}

.imagem-sushi img {
    width: 73vw;
    margin-left: 12vw;
}

.Texto-2 {
    float: left;
    width: 35%;
    margin-left: 12vw;
    font-size: 2vw;
    text-align: justify;
    text-indent: 2em;
    font-family: 'Abel', sans-serif;
}

.Texto-3 {
    font-size: 2vw;
    float: right;
    width: 30%;
    margin-right: 13.9vw;
    text-align: justify;
    margin-top: 3vw;
    border: 0.3vw #00FF73 solid;
    padding: 2vw;  
    font-family: 'Abel', sans-serif;
}

.titulo-3 {
    width: 100%;
    float: left;
    margin-left: 12vw;
    color: #FF6600;
    font-size: 2.5vw;
    font-family: 'Abel', sans-serif;
}

.Tabela img {
    width: 73vw;
    margin-left: 12vw;
    margin-top: 3vw;
}
